python == 3.10
numpy
pandas
opencv-python
torch
torchvision
tensorflow
scikit-learn
matplotlib
flask
requests
pyserial  # For serial communication with Arduino
gunicorn  # For running the Flask app in production
glob
imageio.v2
matplotlib
YOLO
cv2
numpy
math
Image
load_model
random
datetime
Flask==3.1.0
google-api-python-client==2.118.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
